@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css");

*{
  font-family: 'Montserrat', sans-serif;
}

#jumbotron{
  background-image: url(../images/bg.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  color: black;
  text-align: center;
}
#next{
 background-image: linear-gradient(to right, #485563 0%, #29323c  51%, #485563  100%)
}

.btn:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

#subscribe{
background-image: linear-gradient(to right, #8e9eab 0%, #eef2f3  51%, #8e9eab  100%)
}      

#blog{
  margin-top: 4em;
}

#head{
background-image: linear-gradient(to right, #304352 0%, #d7d2cc  51%, #304352  100%)
}
         