{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf%}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>
</head>
<body>
  {% block content %}
  <div class="jumbotron" id="jumbotron">
    {% for quote in quotes %}
    <p><strong><i class="fa fa-quote-left" aria-hidden="true"></i> {{quote.quote}} <i class="fa fa-quote-right" aria-hidden="true"></i></strong></p>
    <p><strong>By: <blockquote>{{quote.author}}</blockquote></strong></p>
    <a class="btn btn-primary btn-lg" href="/" role="button" id="next">Next Quote</a>
    {%endfor%}
  </div>
  <div class="row ">
    <h2 style="text-align: center;"><strong>ALL BLOG POSTS</strong></h2>
    {% for blog in blogs%}
    <div class="card shadow p-3 mb-5 rounded card" style="width: 27em;margin: 2em;">
      <div class="cardbody">
        {% if blog.image_pic_path %}
          <img src="{{url_for('static',filename=blog.image_pic_path)}}" alt="" style="height: 15em;width: 100%;"><br>
        {% endif %}
        <h4>{{blog.title | upper}}</a></h4><br>
        <p>{{blog.contents | truncate(150)}}</p>
        <p>Posted on : {{blog.posted_on.strftime('%d-%m-%Y at %H:%M:%S')}}</p>
        <p id="usern"><a href="{{url_for('main.user_blogs',username = blog.user.username)}}"><span
        style="color:gray"><strong>Author: {{blog.user.username}}</strong></span></a></p>
          <div class="row">
            <div class="col-md-6"><a href="{{url_for('main.blogs',blog_id=blog.id)}}"><h5>Read More <i class="bi bi-box-arrow-up-right"></i></h5></a></div>
            <div class="col-md-6">
              <h5><a class="nav-link" style="color: black;" href="{{url_for('main.delete_blog',blog_id=blog.id)}}"><i
                    class="fa fa-trash" aria-hidden="true"></i> Delete Blog</h5></a>
            </div>
          </div>
      </div>
    </div>
    {%endfor%}
  </div>
  <div class="row ">
    <h2 style="text-align: center;"><strong>RECENT BLOG POSTS</strong></h2>
    {% for blog in recent%}
    <div class="card shadow p-3 mb-5 rounded card" style="width: 27em;margin: 2em;">
      <div class="cardbody">
        {% if blog.image_pic_path %}
        <img src="{{url_for('static',filename=blog.image_pic_path)}}" alt="" style="height: 15em;width: 100%;"><br>
        {% endif %}
        <h4><strong>{{blog.title | upper | truncate(50)}}</strong></a></h4><br>
        <p>{{blog.contents| truncate(150)}}</p>
        <p>Posted on : {{blog.posted_on.strftime('%d-%m-%Y at %H:%M:%S')}}</p>
        <p><a href="{{url_for('main.user_blogs',username = blog.user.username)}}"><span
        style="color:gray"><strong>Author: {{blog.user.username}}</strong></span></a></p>
        <div class="row">
            <div class="col-md-6"><a href="{{url_for('main.blogs',blog_id=blog.id)}}">
                <h5>Read More <i class="bi bi-box-arrow-up-right"></i></h5>
              </a></div>
          <div class="col-md-6">
            <h5><a class="nav-link" style="color: black;" href="{{url_for('main.delete_blog',blog_id=blog.id)}}"><i
                  class="fa fa-trash" aria-hidden="true"></i> Delete Blog</h5></a>
          </div>
        </div>
      </div>
    </div>
    {%endfor%}
  </div>
  <div class="jumbotron jumbotron-fluid" id="subscribe">
    <div class="container">
      <div class="pt-4">
        <div class="row">
          <div class="col-md-4"></div>
          <div class="col-md-4">
            <p>Subscribe for real-time updates</p>
            {{wtf.quick_form(form)}}
          </div>
          <div class="col-md-4"></div>
        </div>
      </div>
    </div>
  </div>
  {%endblock%}
</body>
</html>